@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: "Anek Latin", sans-serif; */
  font-family: "Inter", sans-serif;
}

/* Font utility classes */
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.floating {
  @apply animate-floating;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.floatingg {
  @apply animate-floating;
}

@keyframes floatingg {
  0% {
    transform: translate(0, -15px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 15px);
  }
}

@layer utilities {
  .animate-floating {
    animation: floating 2s ease-in-out infinite;
  }
  .animate-floating_2 {
    animation: floatingg 2s ease-in-out infinite;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 20px;
  }
}
